<VirtualHost *:80>
    DocumentRoot /app
    SetEnv WEB_DOCUMENT_ROOT /app
    <Directory /app>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
